*,html{
    padding:0;
    margin: 0;
    -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
            box-sizing: border-box;
}
body{
    background: #eaeaea;
    font-family: Verdana;
}
label{ 
    display:block; 
    font-weight: bold;
    font-size: 1em;
}
input{ 
    font-size: 1em;
    padding: 5px;
    border: 1px solid #ccc;
}
a:link{ 
    text-decoration: none; 
}
p {
    font-family: "Arial", "Helvetica", "sans-serif";
    font-size: 20px;
}
#bio{
    font-style: italic;
}
.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
}
@media (min-width: 1170px) {
    .container {
        max-width: 1170px;
        padding: 0;
    }
}
.header {
    background: #ccc;
    border: 1px solid #aaa;
    padding: 10px;
}
.align-center {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    min-width: 100%;
}
#form_usu {
    margin-top: 20px;
    margin-bottom: 20px;
}
.row {
    margin-left: -5px;
    margin-right: -5px;
}
    .row:before,
    .row:after {
        content: "";
        display: table;
    }
    .row:after {
        clear: both;
    }
.col{
    display: inline-block;
    vertical-align: top;
    min-height: 1px;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    margin-right: -4px;
    *zoom: 1;
    *display: inline;
}
.card-1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background: #ccc;
    margin: auto;
    text-align: center;
}
    @media (min-width: 481px) {
        .col-2 {
            width: 33.3333%;
    }    
}
.card-2 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background: #ccc;
    margin: auto;
}
.title {
    font-family: "Tahoma", "Geneva", "sans-serif";
    color: black;
    margin: 10px 0px 10px 10px;
}

.btn_list {
    background-color: #000;
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    cursor: pointer;
    width: 100%;
    text-align: center;
    font-size: 25px;
    margin-top: 10px;
}
.btn_list:hover {
    background-color: #555;
}
#btn_search {
	height: 30px;
    width: 30px;
    cursor: pointer;
}
.hide {
	display: none;
}
#repositories{
	padding: 5px 20px;
	overflow: auto;
    font-size: 1em;
    max-height: 817px;
}
#repo_detail, h2{
    padding: 10px 5px 0 5px;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 200px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}